<template>
  <div class="report">
    <b-row>
      <ReportItem v-for="items in reports" :item="items" v-bind:key="items.ticket_id"/>
    </b-row>
    <b-row>
      <b-col>
        <b-pagination align="right" :total-rows="total_item" v-model="current_page" :per-page="8"></b-pagination>
      </b-col>
    </b-row>
  </div>
</template>

<script>
const ReportItem = () => import("./ReportItem");
export default {
  name: "Report",
  data() {
    return {
      reports: [],
      selected: "Menunggu",
      current_page: 1,
      total_page: 1,
      limit: 6,
      total_item: 1
    };
  },
  components: {
    ReportItem
  },
  watch: {
    current_page: {
      immediate: true, // forcing handler on initial status
      handler() {
        this.fetch_report();
      }
    }
  },
  methods: {
    fetch_report() {
      this.axios({
        url: "api/report",
        method: "get",
        params: {
          limit: this.limit,
          page: this.current_page
        }
      }).then(response => {
        this.reports = response.data.models;
        let { total_record, total_page, page } = response.data.page_info;
        this.current_page = page;
        this.total_page = total_page;
        this.total_item = total_record;
      });
    }
  }
};
</script>

<style>
</style>
	Lisandro Rempel	Lisa	Lisandro Rempelndro Rempel