<template>
  <div>
    <b-row>
      <b-col sm="12" lg="12">
        <b-card
          no-body
          header="Card Header"
          header-text-variant="white"
          header-tag="header"
          header-bg-variant="dark"
        ></b-card>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12" lg="6">
        <b-card
          header="Contact Info"
          header-text-variant="white"
          header-tag="header"
          header-bg-variant="dark"
        >
          <b-form-group label="Ticket ID" label-for="input-1">
            <b-form-input trim></b-form-input>
          </b-form-group>
          <b-form-group label="Source" label-for="input-1">
            <b-form-input trim></b-form-input>
          </b-form-group>
          <b-form-group label="Date" label-for="input-1">
            <b-form-input trim></b-form-input>
          </b-form-group>
          <b-form-group label="Name" label-for="input-1">
            <b-form-input trim></b-form-input>
          </b-form-group>
          <b-form-group label="Address" label-for="input-1">
            <b-form-textarea rows="3" no-resize></b-form-textarea>
          </b-form-group>
          <b-form-group label="City" label-for="input-1">
            <b-form-input trim></b-form-input>
          </b-form-group>
          <b-form-group label="Email" label-for="input-1">
            <b-form-input trim></b-form-input>
          </b-form-group>
          <b-form-group label="Phone 1" label-for="input-1">
            <b-form-input trim></b-form-input>
          </b-form-group>
          <b-form-group label="Phone 2" label-for="input-1">
            <b-form-input trim></b-form-input>
          </b-form-group>
        </b-card>
        <b-card
          header="Location"
          header-text-variant="white"
          header-tag="header"
          header-bg-variant="dark"
        >
          <div :style="{'backround-color': '#ddf', width: '100%' , height: '400px'}"></div>
        </b-card>
      </b-col>
      <b-col sm="12" lg="6">
        <b-card
          header="Remark & Feedback"
          header-text-variant="white"
          header-tag="header"
          header-bg-variant="dark"
        >
          <b-form-group label="Remark" label-for="input-1">
            <b-form-textarea rows="3" no-resize></b-form-textarea>
          </b-form-group>
          <b-form-group label="Feedback" label-for="input-1">
            <b-form-textarea rows="3" no-resize></b-form-textarea>
          </b-form-group>

          <b-form-group label="Category" label-for="input-1">
            <b-form-select :options="category" size="sm" class="mt-3"></b-form-select>
          </b-form-group>
        </b-card>
        <b-card
          header="Photo"
          header-text-variant="white"
          header-tag="header"
          header-bg-variant="dark"
        >
          <div class="clearfix">
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
          </div>
        </b-card>
        <b-card
          header="Photo Evidance"
          header-text-variant="white"
          header-tag="header"
          header-bg-variant="dark"
        >
          <div class="clearfix">
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
            <b-img-lazy
              :style="{'margin-right': '5px', 'margin-bottom': '5px'}"
              v-bind="image_setting"
              src="http://placehold.it/320x320"
              rounded
              alt="Rounded image"
            ></b-img-lazy>
          </div>
        </b-card>
      </b-col>
      <b-col sm="12" lg="12">
        <b-card
          header="Ticket Confirm"
          header-text-variant="white"
          header-tag="header"
          header-bg-variant="dark"
        >
          <b-form-group label="Remark" label-for="input-1">
            <b-form-textarea rows="3" no-resize></b-form-textarea>
          </b-form-group>
          <b-form-group label="Feedback" label-for="input-1">
            <b-form-textarea rows="3" no-resize></b-form-textarea>
          </b-form-group>

          <b-form-group label="Category" label-for="input-1">
            <b-form-select :options="category" size="sm" class="mt-3"></b-form-select>
          </b-form-group>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "ReportDetail",
  data() {
    return {
      image_setting: {
        blankColor: "#777",
        width: 128,
        height: 128,
        class: "m1"
      },
      category: [{ value: "sos", text: "SOS" }]
    };
  }
};
</script>

<style>
</style>
