<template>
  <b-col sm="6" md="4">
    <transition name="fade">
      <b-card no-body header-bg-variant="dark">
        <div slot="header">
          <div class="card-header-actions">
            <b-link class="card-header-action btn-minimize" @click="collapse = !collapse">
              <i :class="collapse ? 'icon-arrow-up': 'icon-arrow-down'"></i>
            </b-link>
          </div>
          <i class="cui-task icons"></i>
          #{{ item.ticket_id }}
        </div>
        <b-collapse id="collapse1" v-model="collapse">
          <b-card-body @click="detail" :style="{ cursor: 'pointer'}">
            <table>
              <tr>
                <td>
                  <b>Nama</b>
                </td>
                <td>:</td>
                <td>{{ item.contact_name }}</td>
              </tr>
              <tr>
                <td>
                  <b>Sumber</b>
                </td>
                <td>:</td>
                <td>
                  <b-badge variant="success">{{ item.ticket_src }}</b-badge>
                  {{ item.call_id }}
                </td>
              </tr>
              <tr>
                <td valign="top">
                  <b>Remark</b>
                </td>
                <td valign="top">:</td>
                <td valign="top">{{ item.remark }}</td>
              </tr>
              <tr>
                <td valign="top">
                  <b>Alamat</b>
                </td>
                <td valign="top">:</td>
                <td valign="top">{{ item.address }}</td>
              </tr>
            </table>
            <hr>
            <router-link
              class="btn btn-primary btn-block"
              :to="{ name: 'ReportDetail', params: { ticket_id: item.ticket_id }}"
            >Detail</router-link>
          </b-card-body>
        </b-collapse>
      </b-card>
    </transition>
  </b-col>
</template>

<script>
export default {
  name: "ReportItem",
  props: {
    item: Object
  },
  data() {
    return {
      collapse: true,
      columns: {
        sm: 6,
        md: 4
      }
    };
  },
  watch: {},
  methods: {
    detail() {
      this.$router.push({
        name: "ReportDetail",
        params: { ticket_id: this.item.ticket_id }
      });
    }
  }
};
</script>

<style>
</style>
