<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="5">
          <b-card-group>
            <b-card no-body class="p-4">
              <b-card-body>
                <b-form @submit.prevent="onSubmit">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-user"></i>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      :state="!errors.has('username')"
                      v-validate="'required|email|min:8'"
                      v-model="form.username"
                      type="text"
                      name="username"
                      class="form-control"
                      placeholder="Username"
                    />
                    <b-form-invalid-feedback
                      :state="!errors.has('username')"
                    >{{ errors.first("username") }}</b-form-invalid-feedback>
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend>
                      <b-input-group-text>
                        <i class="icon-lock"></i>
                      </b-input-group-text>
                    </b-input-group-prepend>
                    <b-form-input
                      :state="!errors.has('password')"
                      v-validate="'required|min:8'"
                      type="password"
                      name="password"
                      v-model="form.password"
                      class="form-control"
                      placeholder="Password"
                    />
                    <b-form-invalid-feedback
                      :state="!errors.has('password')"
                    >{{ errors.first("password") }}</b-form-invalid-feedback>
                  </b-input-group>
                  <b-row>
                    <b-col cols="12">
                      <b-button
                        :disabled="errors.any() || !isCompleted"
                        type="submit"
                        variant="primary"
                        class="px-12 btn-lg btn-block"
                      >Login</b-button>
                    </b-col>
                    <!-- <b-col cols="6" class="text-right">
                      <b-button variant="link" class="px-0">Forgot password?</b-button>
                    </b-col>-->
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      form: {
        username: "",
        password: ""
      }
    };
  },
  mounted() {},
  computed: {
    isCompleted() {
      return this.form.username && this.form.password;
    }
  },
  methods: {
    onSubmit() {
      this.$router.push({ path: "/dashboard" });
    }
  }
};
</script>
