
<template>
  <div class="animated fadeIn">
    <b-card>
      <b-row>
        <b-col sm="5">
          <h4 id="traffic" class="card-title mb-0">Pengaduan</h4>
          <div class="small text-muted">Apr 2019</div>
        </b-col>
        <b-col sm="7" class="d-none d-md-block">
          <b-button-toolbar class="float-right" aria-label="Toolbar with buttons group">
            <b-form-radio-group
              class="mr-2"
              buttons
              button-variant="outline-secondary"
              v-model="selected"
              name="radiosBtn"
            >
              <b-form-radio :style="{ cursor: 'pointer'}" class="mx-0" value="Menunggu">
                <b-badge pill variant="danger">42</b-badge>
                <i class="cui-check icons"></i>Menunggu
              </b-form-radio>
              <b-form-radio :style="{ cursor: 'pointer'}" class="mx-0" value="Eskalasi">
                <b-badge pill variant="danger">42</b-badge>
                <i class="cui-check icons"></i>Eskalasi
              </b-form-radio>
              <b-form-radio :style="{ cursor: 'pointer'}" class="mx-0" value="Teruskan">
                <b-badge pill variant="danger">42</b-badge>
                <i class="cui-check icons"></i>Teruskan
              </b-form-radio>
              <b-form-radio :style="{ cursor: 'pointer'}" class="mx-0" value="Tertunda">
                <b-badge pill variant="danger">42</b-badge>
                <i class="cui-check icons"></i>Tertunda
              </b-form-radio>
              <b-form-radio :style="{ cursor: 'pointer'}" class="mx-0" value="Proses">
                <b-badge pill variant="danger">42</b-badge>
                <i class="cui-check icons"></i>Proses
              </b-form-radio>
              <b-form-radio :style="{ cursor: 'pointer'}" class="mx-0" value="Ditangani">
                <b-badge pill variant="danger">42</b-badge>
                <i class="cui-check icons"></i>Ditangani
              </b-form-radio>
              <b-form-radio :style="{ cursor: 'pointer'}" class="mx-0" value="Selesai">
                <b-badge pill variant="danger">42</b-badge>
                <i class="cui-check icons"></i>Selesai
              </b-form-radio>
            </b-form-radio-group>
          </b-button-toolbar>
        </b-col>
      </b-row>
      <hr>
      <Report></Report>
    </b-card>
  </div>
</template>

<script>
const Report = () => import("./work/Report");
export default {
  name: "WorkOrder",
  data() {
    return {
      selected: "Menunggu",
      currentPage: 1
    };
  },
  components: {
    Report
  }
};
</script>

<style>
</style>
